In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/superstore_data.csv')
print(df.head())

      Id  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   1826        1970  Graduation       Divorced  84835.0        0         0
1      1        1961  Graduation         Single  57091.0        0         0
2  10476        1958  Graduation        Married  67267.0        0         1
3   1386        1967  Graduation       Together  32474.0        1         1
4   5371        1989  Graduation         Single  21474.0        1         0

  Dt_Customer  Recency  MntWines  ...  MntFishProducts  MntSweetProducts  \
0   6/16/2014        0       189  ...              111               189
1   6/15/2014        0       464  ...                7                 0
2   5/13/2014        0       134  ...               15                 2
3   11/5/2014        0        10  ...                0                 0
4    8/4/2014        0         6  ...               11                 0

   MntGoldProds  NumDealsPurchases  NumWebPurchases  NumCatalogPurchases  \
0           218                  1                4                    4
1            37                  1                7                    3
2            30                  1                3                    2
3             0                  1                1                    0
4            34                  2                3                    1

   NumStorePurchases  NumWebVisitsMonth  Response  Complain
0                  6                  1         1         0
1                  7                  5         1         0
2                  5                  2         0         0
3                  2                  7         0         0
4                  2                  7         1         0

[5 rows x 22 columns]

In [ ]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  Response             2240 non-null   int64
 21  Complain             2240 non-null   int64
dtypes: float64(1), int64(18), object(3)
memory usage: 385.1+ KB
None
                 Id   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
count      2240.000000       2240.000000   2240.000000        2240.000000
mean         37.525446         27.062946     44.021875           2.325000
std          54.628979         41.280498     52.167439           1.932238
min           0.000000          0.000000      0.000000           0.000000
25%           3.000000          1.000000      9.000000           1.000000
50%          12.000000          8.000000     24.000000           2.000000
75%          50.000000         33.000000     56.000000           3.000000
max         259.000000        263.000000    362.000000          15.000000

       NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
count      2240.000000          2240.000000        2240.000000
mean          4.084821             2.662054           5.790179
std           2.778714             2.923101           3.250958
min           0.000000             0.000000           0.000000
25%           2.000000             0.000000           3.000000
50%           4.000000             2.000000           5.000000
75%           6.000000             4.000000           8.000000
max          27.000000            28.000000          13.000000

       NumWebVisitsMonth     Response     Complain
count        2240.000000  2240.000000  2240.000000
mean            5.316518     0.149107     0.009375
std             2.426645     0.356274     0.096391
min             0.000000     0.000000     0.000000
25%             3.000000     0.000000     0.000000
50%             6.000000     0.000000     0.000000
75%             7.000000     0.000000     0.000000
max            20.000000     1.000000     1.000000

In [ ]:
df['Income'].fillna(df['Income'].median(), inplace=True)

/tmp/ipython-input-1959487941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].median(), inplace=True)

In [ ]:
# Chuyển đổi ngày
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

# Tạo cột tuổi
df['Age'] = 2025 - df['Year_Birth']

# Tạo cột tổng chi tiêu
spending_cols = ['MntWines', 'MntFruits', 'MntMeatProducts',
                 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
df['Total_Spending'] = df[spending_cols].sum(axis=1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Income_Norm', 'Total_Spending_Norm']] = scaler.fit_transform(df[['Income', 'Total_Spending']])

In [21]:
# Loại bỏ khách quá già
df = df[df['Year_Birth'] >= 1920]

# Gộp nhóm Marital_Status
df['Marital_Status'] = df['Marital_Status'].replace(['YOLO', 'Absurd'], 'Other')

# Giữ lại khách hàng có tuổi nhỏ hơn 100
df = df[df['Age'] < 100]

In [22]:
df.to_csv('superstore_cleaned.csv', index=False)
files.download('superstore_cleaned.csv')